.container-custom {
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
  padding-bottom: 2rem;
}

.grid-custom {
  display: grid;
  padding-top: 2rem;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding-bottom: 2rem;
}

.grid-custom img {
  max-height: 160px;
  object-fit: cover
}